<h1>Edit <%= @artist.name %> Profile</h1>

<%= form_for @artist do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> <br>

<%= f.label :email %>
<%= f.email_field :email %> <br>

<%= f.label :password %>
<%= f.password_field :password %> <br>

<%= f.label :genre %>
<%= f.text_field :genre %><bR>

<%= f.label :description %>
<%= f.text_area :description %> <br>


<%= f.label "Artist Image Link" %>
<%= f.text_field :img_url %><br>
<% end %>

<a href="/">Cancel</a>
