<%= render partial: './static/toolbar' %>
<h1>Artist List</h1>

<%= form_tag artists_path, method: :get do %>
  <%= search_field_tag(
      :artist_search,
      params[:artist_search],
      placeholder: "Search by Artist Name",
      ) %>
<% end %><br>

<div class="image-wrapper">
<% @artists.each do |artist| %>
<div class="artist-box"><%= link_to "#{artist.name}", artist_path(artist) %><br>
<%= image_tag artist.img_url, :size => "640x480"  %></div>


<% end %>
</div>
