<%= flash[:notice] %>
<h1><%= @artist.name %></h1>
<h3>Genre: <%= @artist.genre %></h3>
<h2><%= image_tag @artist.img_url, :size => "640x480"  %><h2>
<h4><%= @artist.description %></h4>


<h2><%= "Upcoming Events" %></h2>
<% @artist.events.map do |event| %>
<h3><%= link_to "#{event.venue.name}", venue_path(event.venue) %><%= " on " %><%= event.date %><h3>
  <h4><%= "Event details:" %> <%= event.description %></h4>
  <% if @artist == current_user %>
    <%= button_to "Cancel this event", event, :method => "delete" %>
    <%= button_to "Confirm this Event", confirm_path(event) %>
    <% end %>
    <hr>
<% end %>

<% if @artist == current_user %>
  <%= button_to "Edit your profile", edit_artist_path(@artist), :method => "get" %>
  <%= button_to "Delete your profile", @artist, :method => "delete" %>
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
