<%= render partial: './static/toolbar' %>
<%= flash[:notice] %>
<h1><%= @artist.name %></h1>
<h3>Genre: <%= @artist.genre %></h3>
<%= image_tag @artist.img_url, :size => "640x480"  %>
<h3><%= @artist.description %>


<h3><%= "Upcoming Events" %></h3>
<% @artist.events.map do |event| %>
<%= link_to "#{event.venue.name}", venue_path(event.venue) %><%= " on " %><%= event.date %>

<h5> <%= "Description:" %><%= event.description %> </h5>
  <% if @artist == current_user %>
    <%= button_to "Cancel this event", event, :method => "delete" %>
    <%= button_to "Confirm this Event", confirm_path(event) %>
    <% end %>

<% end %><br>

<% if @artist == current_user %>
  <%= button_to "Edit your profile", edit_artist_path(@artist), :method => "get" %>
  <%= button_to "Delete your profile", @artist, :method => "delete" %>
<% end %>
