<%= render partial: './static/toolbar' %>
<h1>Artist Login</h1>

<h3><%= flash[:notice] %></h3>

<%= form_tag artist_login_path, method: :post do %>
  <%= label_tag "Email" %>
  <%= text_field_tag :email %>
  <%= label_tag "Password" %>
  <%= text_field_tag :password %>
  <%= submit_tag "Login" %>
<% end %>
