<!-- <h1>Granudo Events</h1>
 <% if logged_in? && current_user.class == Venue %>
<h2> <%= link_to "Create a new Event", new_event_path %> </h2>
<% end %>


<% @events.map do |event| %>

  <h2><%=link_to "#{event.artist.name} @", artist_path(event.artist)%></h2>

  <h3><%= link_to "#{event.venue.name}", venue_path(event.venue) %></h3>
  <h3><%= "(#{event.date})" %></h3>
  <h3><%= event.description %></h3><br>
<h5>
  <% if event.venue == current_user %>
  <%= link_to "Edit this event", edit_event_path(event) %>
  <%= link_to "Cancel this event", event, data: {confirm: "Remove this event from the listings?"}, method: :delete%>
  <% end %>
<% end %> -->
