<%= render partial: './static/toolbar' %>
<h1>Venue List</h1>
<<<<<<< HEAD
<div class="container"><%= link_to "Create a new event(venues only)", new_event_path %></div>
=======
>>>>>>> zoovie

<%= form_tag venues_path, method: :get do %>

<div class="container"><h4><%= search_field_tag(
      :venue_search,
      params[:venue_search],
      placeholder: "Search by Venue Name",
      ) %></h4></div>
<% end %><br>



<% @venues.each do |venue| %>
<div class="container"><p><%= link_to "#{venue.name}", venue_path(venue) %></p></div>
<% end %>
