<!DOCTYPE html>
<html>
  <head>
    <title>Granudo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= logged_in? ? button_to('Logout', artist_logout_path, method: :delete) : link_to('Login', artist_login_path) %>
    <%= yield %>
  </body>
</html>
